 .u-section-1 {
  background-image: url("images/jhhjj.jpg");
  background-position: 50% 50%;
  min-height: 536px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 20px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 516px;
}

.u-section-1 .u-container-layout-1 {
  padding: 34px 30px 34px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  margin: 32px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: none;
  text-align: center;
  font-weight: 700;
  margin: 40px auto 0 0;
  padding: 16px 52px 17px 51px;
}

.u-section-1 .u-image-1 {
  min-height: 516px;
  background-image: url("images/KArSL.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 21px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 351px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 425px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 554px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 280px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 528px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 422px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 396px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 275px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 249px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 430px;
}

.u-section-2 .u-group-1 {
  width: 1108px;
  min-height: 369px;
  height: auto;
  margin: 35px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 710px;
  margin: 19px auto 0;
}

.u-section-2 .u-table-1 {
  width: 668px;
  margin: 16px auto 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  letter-spacing: 0;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 400;
  text-transform: none;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 400;
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 400;
  background-image: none;
}

.u-section-2 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-6 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-10 {
  font-weight: 700;
}

.u-block-0b66-25 {
  background-image: none;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  margin: 3px 250px 0 220px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 166px;
    margin-left: 136px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 56px;
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 430px;
}

.u-section-3 .u-group-1 {
  width: 1108px;
  min-height: 369px;
  height: auto;
  margin: 35px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 710px;
  margin: 19px auto 0;
}

.u-section-3 .u-table-1 {
  width: 668px;
  margin: 16px auto 0;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  letter-spacing: 0;
  font-size: 1.125rem;
  background-image: none;
  font-weight: 400;
  text-transform: none;
}

.u-section-3 .u-table-cell-2 {
  font-weight: 400;
}

.u-section-3 .u-table-cell-3 {
  font-weight: 400;
}

.u-section-3 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-table-cell-6 {
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-10 {
  font-weight: 700;
}

.u-block-2d1f-25 {
  background-image: none;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  margin: 3px 250px 0 220px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 166px;
    margin-left: 136px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 56px;
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-table-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-3 .u-table-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 196px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 43px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 18px 115px 43px 222px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    width: 803px;
    margin-left: 122px;
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}